
.sidebar {
    width: 280px;
    min-height: 100vh;
    background-color: #c0c0c0;
    border-right: 2px solid #000000;
    padding: 8px 0;
    flex-shrink: 0;
}

.sidebar-titulo {
    color: #004080;
    font-size: 20px;
    padding: 4px 8px;
    margin: 0 0 8px 0;
    text-align: center;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0 4px;
    margin: 0 7%;
}

.sidebar-link {
    display: block;
    padding: 4px 8px;
    text-decoration: none;
    color: black;
    font-size: 13px;
    border: 2px solid transparent;
}


.sidebar-link.activo {
    background-color: #3939a2; 
    color: white;
    border: 2px inset #ded4d4;
    text-align: center;
    margin: 10px;
}

.btn-sidebar{
    border: 1px solid #004080;
    border-radius: 10px;
}